* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
    background-color: #405d27;
    position: relative;
}

header ul {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    list-style: none;
}

header li {
    align-items: center;
}

header a {
    padding-left: 50px;
    text-decoration: none;
    color: azure;
    transition: color 0.3s;
    font-size: larger;

}

header a:hover {
    color: #d3e4cd;
}

#Partenshop {
    color: blanchedalmond;
    background-color: #82b74b;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

#Partenshop:hover {
    background-color: #7b9664;
}

section {
    height: 700px;
    padding: 95px;

}

.divP {
    width: 1000px;
    height: auto;
    margin: 20px;
    background-color: white;
    padding: 30px;
    margin-left: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.200);
    position: relative;
    border-radius: 20px;

}

.WilcommenSec {
    background-color: #e8d8c9;
    height: 100vh;
    position: relative;
}

.WilcommenSec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.WilcommenSec .up {
    background: #e8d8c9;
    width: 45%;
    margin: -50px;
    padding: 20px;
}

.WilcommenSec h1 {
    color: #82b74b;
    font-size: 90px;
    padding-bottom: 60px;
}

.WilcommenSec h3 {
    color: #405d27;
    padding-bottom: 20px;
}

.WilcommenSec p {
    width: auto;
    height: auto;
}

p {
    font-size: 20px;
}


.über h1 {
    color: #82b74b;
    font-size: 90px;
    padding-bottom: 60px;
}

.über h3 {
    color: #405d27;
    padding-top: 10px;
}

.über p {
    font-size: 20px;
    width: 900px;
    height: auto;
}

.Tiere {
    background-color: #e8d8c9;
    height: 900px;

}

.Tiere h1 {
    color: #82b74b;
    font-size: 90px;
}

.Tiere h3 {
    color: #405d27;
    padding-top: 10px;
}

#Tiere p {
    font-size: 20px;
    width: 500px;
    height: auto;
}

.divD {
    height: 300px;
    width: 80%;
    background: white;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
}

.Großdiv {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 250px;
}

.divD .txt {
    width: 50%;
    padding: 20px;
}

.divD img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.divD h3 {
    padding-bottom: 20px;
}


.info h1 {
    color: #82b74b;
    font-size: 90px;
    padding-bottom: 60px;
}

.info h3 {
    color: #405d27;
    padding-top: 30px;
}

.info p {
    font-size: 20px;
    width: 900px;
    height: auto;
}

.feedback{
    height: 200px;
}

.feedback h1 {
    color: #82b74b;
    font-size: 40px;
    margin-left: 20px;

}

.feedback button {
    width: 500px;
    height: 50px;
    background-color: #82b74b;
    color: blanchedalmond;
    border-radius: 30px;
    font-size: larger;
    margin:20px 0 0 100px;
}

.feedback button:hover {
    background-color: #7b9664;
}

footer {
    height: 100px;
    background-color: #3e4444;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer a {
    margin-left: 10px;
    color: azure;

}